/* button {
  background-color: blue;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
button:hover{
  background-color: red;
} */
/* this is a dedicated css for button component */