* {
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 100px;
  padding: 4%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: red;
}
.lists ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.lists ul li {
  list-style-type: none;
}
.lists ul li a {
  text-decoration: none;
  color: red;
}
.lists ul li a:hover {
  color: white;
}
/*  */
.welcome-msg {
  font-size: 2.5em;
  background-color: greenyellow;
  color: rgb(248, 246, 242);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.login-prompt {
  font-size: 2.5em;
  background-color: rgb(83, 8, 8);
  color: wheat;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
/*  */

.card {
  background-color: black;
  display: inline-block;
  color: gainsboro;
  max-width: 250px;
  height: 100%;
  border: 1px solid rgb(129, 129, 129);
  padding: 20px;
  text-align: center;
  margin: 5px;
  box-shadow: 5px 7px 20px rgba(11, 204, 172, 0.103);
}
 img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid white;
  margin: 5px;
  box-shadow: 10px 4px 30px yellow;
}
.card .title {
  font-size: 24px;
  font-family: Tahoma;
}
/*  */
.list-category{
  /* display: inline-block; */
  font-size: 2.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.384);
  text-align: center;
  border: 3px solid black;
  /* width: fit-content; */
  /* padding: 2px 10px ; */
  border: 5px;
  background-color: rgb(40, 133, 133);
}
.list-items li{
  font-size: 2em;
  list-style: none;
  text-align: center;

}
/*  */
footer {
  background-color: pink;
  color: white;
  width: 100%;
  height: 100%;
  padding: 4%;
}

.student {
  font-size: 2em;
  padding: 10px;
  border: 1px solid grey;
  display: inline-block;
  margin: 3px;
}
/*  */
.btn{
  background-color: red;
}
